* {
  box-sizing: border-box;
}
body {
  /* background-color: red; */
  margin: 0;
}
#container {
  background-color: grey;
  width: 75%;
  margin: 100px auto;
  padding: 100px;
}
h1.google {
  /* make h1 not bold */
  font-weight: 400;
  font-size: 100px;
  font-family: 'Modak', cursive;
}
h2.google {
    font-size: 75px;
    font-family: 'Passion One', cursive;
}
h1.adobe {
  font-size: 100px;
  font-family: beastly, sans-serif;
  font-weight: 300;
  font-style: normal;
}
h2.adobe {
  font-size: 75px;
  font-family: bebas-neue-rounded, sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  color: white;
  transition: color 2s ease;
}
a:hover {
  color: tomato;
}
